<main>
    <h1>Attributions</h1>
    <div>
        <h2>Icons</h2>
        <div>
            bin by ME from <a href="https://thenounproject.com/browse/icons/term/bin/" target="_blank" title="bin Icons">Noun Project</a> (CC BY 3.0)
        </div>
        <div>
            Pen by ME from <a href="https://thenounproject.com/browse/icons/term/pen/" target="_blank" title="Pen Icons">Noun Project</a> (CC BY 3.0)
        </div>
        <div>
            Pencil by ME from <a href="https://thenounproject.com/browse/icons/term/pencil/" target="_blank" title="Pencil Icons">Noun Project</a> (CC BY 3.0)
        </div>
        <div>
            eraser by ME from <a href="https://thenounproject.com/browse/icons/term/eraser/" target="_blank" title="eraser Icons">Noun Project</a> (CC BY 3.0)
        </div>
    </div>
</main>