<main>
    <h1>Attributions</h1>
    <div>
        <h2>Icons</h2>
        <div>
            bin by ME from <a href="https://thenounproject.com/browse/icons/term/bin/" target="_blank" title="bin Icons">Noun Project</a> (CC BY 3.0)
        </div>
    </div>
</main>