<main>
    <div class="upper-container">
        <nav class="navbar">
            <ul class="menu">
                <li><a href="#" id="home-tab">Home</a></li>
                <li><a href="#" id="calendar-tab">Calendar</a></li>
                <li><a href="#" id="notes-tab">Notes</a></li>
                <li><a href="#" id="notifications-tab">Notifications</a></li>
            </ul>
        </nav>
    </div>
    <div class="lower-container">
        <div id="content-area">

        </div>
    </div>
    <script src="./dashboard.js"></script>
</main>