<main>
        <div class="upper-container" id ='container1'>
            <nav class="navbar">
                <ul class="menu">
                    <li><a href="#" id="home-tab">Home</a></li>
                    <li><a href="#" id="calendar-tab">Calendar</a></li>
                    <li><a href="#" id="notes-tab">Notes</a></li>
                    <li><a href="#" id="notifications-tab">Notifications</a></li>
                </ul>
            </nav>
            <div id ="selected-option">H O M E</div>
        </div>
        <div class="lower-container">
            <div id="edit-area">

            </div>
            <div id="content-area">
    
            </div>
        </div>
    <script src="./dashboard.js"></script>
    </main>