<div id="landing-wrapper">
    <h1 id="main-heading">Scribble Space</h1>
    <div id="description">
        <p>
            Scribble Space is a online diary for keeping yourself organised and receiving live reminders on your device
        </p>
    </div>
    <div id="btn-container">
        <button id="login" class="btn">
            LOGIN
        </button>
        <p>Or</p>
        <button id="signup" class="btn">
            SIGN UP
        </button>
    </div>
    <script src="./landing.js"></script>
</div>