<main>
    <h1 id="main-heading">Scribble Space</h1>
    <div id="description">
        <p>
            Scribble Space is a online diary thank can be used to to keep yourself organised and give you live reminders on your desktop.
        </p>
    </div>
    <div id="btn-container">
        <button class="btn">
            LOGIN
        </button>
        <p>Or</p>
        <button class="btn">
            SIGN UP
        </button>
    </div>
</main>