<main>
    <div class="form-card">
        <h2 id="login-heading">LOGIN</h2>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="email-login">Email:</label>
                <br>
                <input type="text" name="email" class="form-input"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <br>
                <input type="text" name="password" class="form-input"/>
            </div>
            <div>
                <button class="btn">LOGIN</button>
            </div>
            <div>
                <p>
                    Don't have an account? <a href="./signup.handlebars">Sign Up</a>
                </p>
            </div>
        </form>
    </div>
</main>