
<div class="shared-entry-card">
    <div class="shared-entry-title">{{title}}</div>
    <div class="shared-entry-content">
        {{{content}}}
    </div>
    <div class="shared-entry-buttons">
        <div class="shared-entry-button">
            <img src="/img/pencil.svg"/>
        </div>
        <div class="shared-entry-button" data-reminderid="0">
            <img src="/img/bell.svg"/>
        </div>
    </div>
</div>