<main>
    <div class="form-card">
        <h2 id="login-heading">SIGN UP</h2>
        <form>
            <div class="form-group">
                <label for="email-signup">Email:</label>
                <br>
                <input type="text" class="form-input"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <br>
                <input type="text" class="form-input"/>
            </div>
            <div>
                <button class="btn">SIGN UP</button>
            </div>
            <div>
                <p>
                    Already have an account? <a href="./login.handlebars">Login</a>
                </p>
            </div>
        </form>
    </div>
</main>