<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scribble Space</title>

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower:regular" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Handlee:regular" rel="stylesheet" />
</head>
<body>
    <main>
    {{{body}}}
    <div id="footer">
        <a href="/">Dashboard</a>
        <a href="/attributions">Attributions</a>
        <a href="https://github.com/Daniel-Bindig/scribble-space">Github</a>
        <a href="/auth/logout">Logout</a>
    </div>
    </main>
</body>
</html>