<div class="form-card">
    <h2>LOGIN</h2>
    <form>
        <div>
            <label for="email-login">Email:</label>
            <input type="text"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text"/>
        </div>
        <div>
            <button>LOGIN</button>
        </div>
    </form>
</div>