:root {
    --primary: #4d433c;
    --secondary: #f3e5b8;
    --tertiary: #634b3d;
    --quatrinary: #bdb083;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html body {
    height: 100%;
    background-color: var(--secondary);
    margin: 0px;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.heading-text {
    font-size: 55px;
    font-family: 'indie flower';
}

#description {
    font-family: 'handlee';
    font-size: 25px;
}

#btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.btn {
    width: 200px;
    border: solid 3px;
    border-radius: 5px;
    background-color: var(--light);
}

.btn:active {
    background-color: grey;
}

#login-heading {
    font-size: 40px;
    font-family: 'indie flower';
}

.form-card {
    background-color: var(--quatrinary);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-bottom: 10px;
    border: solid 2px var(--tertiary);
}

form .form-group {
    display: block;
    width: 100%;
    margin: 0.625rem 0;
    font-family: 'handlee';
    font-size: 25px;
}

.form-input {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
}

--- DASHBOARD CSS --- 

.upper-container {
    height: 100px;
}

#container1 {
    background-color: #e8efef;
}

nav .navbar {
    padding: 10px 0px;
}

.menu {
    background-color: #ccdbff;
    list-style-type: none;
    padding: 18px 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.menu li {
    display: inline;
    margin-right: 20px;
    padding-right: 25px;
    border-right: 1px solid #444fca;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: #e8efef;
    text-decoration: none;
    font-family: 'handlee';
    font-size: 18px;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.lower-container {
    flex: 1;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #e8efef;
}

#selected-option {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-family: 'handlee';
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
    color: #444fca;
}

#edit-area,
#content-area {
    background-color: #EAEBEC;
}

#edit-area {
    width: 23.5%;
    float: left;
    margin-left: 15px;
    height: calc(95vh - 85px);
    border: 1px solid green;
}

#content-area {
    width: 73.5%;
    float: right;
    height: calc(95vh - 85px);
    border: 1px solid blue;
    margin: 0;
    margin-right: 15px;
    overflow-y: hidden;
    overflow-x: hidden;
}
