:root {
    --primary: #4d433c;
    --secondary: #f3e5b8;
    --tertiary: #634b3d;
    --quatrinary: #f8f5e9;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    
    /*Calendar CSS*/
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
    --fc-neutral-text-color: #808080;
    --fc-border-color: #000000;
  
    --fc-button-text-color: #fff;
    --fc-button-bg-color: #2C3E50;
    --fc-button-border-color: #2C3E50;
    --fc-button-hover-bg-color: #1e2b37;
    --fc-button-hover-border-color: #1a252f;
    --fc-button-active-bg-color: #1a252f;
    --fc-button-active-border-color: #151e27;
  
    --fc-event-bg-color: #3788d8;
    --fc-event-border-color: #3788d8;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
  
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
  
    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 220, 40, 0.15);
    --fc-now-indicator-color: red;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html body {
    height: 100%;
    background-color: var(--secondary);
    margin: 0px;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.heading-text {
    font-size: 55px;
    font-family: 'indie flower';
}

#description {
    font-family: 'handlee';
    font-size: 25px;
}

#btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.btn {
    width: 200px;
    border: solid 3px;
    border-radius: 5px;
    background-color: var(--light);
}

.btn:active {
    background-color: grey;
}

#login-heading {
    font-size: 40px;
    font-family: 'indie flower';
}

.form-card {
    background-color: var(--quatrinary);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-bottom: 10px;
    border: solid 2px var(--tertiary);
}

form .form-group {
    display: block;
    width: 100%;
    margin: 0.625rem 0;
    font-family: 'handlee';
    font-size: 25px;
}

.form-input {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
}

--- DASHBOARD CSS --- 

.upper-container {
    height: 100px;
}

#container1 {
    background-color: #e8efef;
}

nav .navbar {
    padding: 10px 0px;
}

.menu {
    background-color: #ccdbff;
    list-style-type: none;
    padding: 18px 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.menu li {
    display: inline;
    margin-right: 20px;
    padding-right: 25px;
    border-right: 1px solid #444fca;
}

.menu li a {
    color: #000000;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: #e8efef;
    text-decoration: none;
    font-family: 'handlee';
    font-size: 18px;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.lower-container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow-x: hidden;
    background-color: #e8efef;
}

#selected-option {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-family: 'handlee';
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
    color: #444fca;
}

#edit-area,
#content-area {
    background-color: #EAEBEC;
}

#edit-area {
    width: 26.5%;
    margin-right: 56px;
    float: left;
    margin-left: 15px;
    border: 1px solid green;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

#content-area {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 65.5%;
    float: right;
    height: auto;
    border: 1px solid blue;
    margin: 0;
    margin-right: 15px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#calendar-container {
margin: 30px 5%;
text-align-last: justify;
height: 70vh;
width: 90%;
padding: 20px;
background-color: var(--secondary);
border-radius: 10px;
font-family: 'handlee';
overflow: hidden;
}

div#event-form-container {
    margin-top: 20px;
}

.hidden {
    display: none;
}
.entry {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--quatrinary);
    width: 90%;
    font-family: 'handlee';
    font-size: 20px;
}

.entry-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.entry-content {
    max-height: 100px;
    overflow: hidden;
    text-align: left;
    text-indent: 15px;
}

.entry-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}