<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scribble Space</title>
    <link rel="stylesheet" href="/style.css"> <!-- Updated stylesheet link -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower:regular" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Handlee:regular" rel="stylesheet" />
</head>
<body>
    <main>
        <h1 id="main-heading">Scribble Space</h1>
        <div id="description">
            <p>
                Scribble Space is an online diary that can be used to keep yourself organized and give you live reminders on your desktop.
            </p>
        </div>
        
        <!--  using JavaScript to handle button clicks -->
        <div id="btn-container-2">
            <button id="login-btn" class="btn">
                LOGIN
            </button>
            <p>Or</p>
            <button id="signup-btn" class="btn">
                SIGN UP
            </button>
        </div>
        
        <!-- JavaScript to handle the clicks -->
        <script>
            document.getElementById('login-btn').addEventListener('click', function() {
                window.location.href = '/login';
            });

            document.getElementById('signup-btn').addEventListener('click', function() {
                window.location.href = '/signup';
            });
        </script>
    </main>
</body>
</html>
